@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
}

#topnav {
    background-color: lightgray;
    height: 53px;
}

#topnav a {
    color: #000;
    text-align: center;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-right: 1px dotted #000;
}

#topnav a.github-link {
    float: right;
    padding: 6px 10px 3px 10px;
    border-left: 1px dotted #000;
}

#topnav a:hover {
    background-color: rgb(159, 238, 231);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
